.speech-bubble {
	position: relative;
	background: #45d994;
	border-radius: 0.4em;
	text-align: center;
	width: 30%;
	margin: auto;
	height: 100px;
}
.cover {
	width: 90%;
	margin: auto;
}
.speech-bubble:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45d994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}
.luaChon {
	width: 60px;
	height: 60px;
}
.btn_chose {
	justify-content: space-around;
}
.item_pick {
	background-color: white;
	display: flex;
	width: 80px;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 100;
}
span {
	color: yellow;
}
.active {
	border: 6px solid rgb(186, 224, 17);
	border-radius: 5px;
}
.item_pick:hover {
	border: 6px solid rgb(186, 224, 17);
	border-radius: 5px;
}

.main {
	/* box-sizing: border-box; */
	background-image: url("../../public/img/oanhTuTi/bgGame.png");
	background-size: 100%;
	height: 1500px;
	width: 100%;
	/* background-color: blue; */
	position: fixed;
	font-family: "fontGame";
	text-transform: capitalize;
	background-repeat: no-repeat;
}
button {
	margin-top: 30px;
	font-size: 20px;
	padding: 10px;
	color: white;
	background-color: #45d994;
}
.picture_left {
	text-align: center;
	box-sizing: content-box;
	overflow: hidden;
}

.row {
	margin-top: 70px;
}
.content {
	color: #45d994;
}
.col-mid {
	text-align: center;
	color: white;
	position: relative;
}

.play {
	position: fixed;
	top: 500px;
	right: 45%;
}
@font-face {
	font-family: "fontGame";
	src: url("./Pony.ttf");
}

.actor {
	width: 350px;
	height: 350px;
	margin-top: 40px;
}
